{% load static  %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kenya</title>
    <link href = "{% static '/css/main.css' %}" rel ="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper" >
                    <img src="{% static 'images/profilepic.png' %}">
                    <hr>
                    <h4>Nairobi City it is!</h4>
                    <p>What a nice a city!</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                   <img src="{% static 'images/about.png' %}">
                    <hr>
                    <h5>About</h5>

                    <p>Nairobi is Kenya’s capital city. In addition to its urban core, the city has Nairobi National Park,
                        a large game reserve known for breeding endangered black rhinos and home to giraffes,
                        zebras and lions. Next to it is a well-regarded elephant orphanage operated by the David Sheldrick
                        Wildlife Trust. Nairobi is also often used as a jumping-off point for safari trips elsewhere in Kenya.</p>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <img src="{% static 'images/history.png' %}">
                    <hr>
                    <h5>History of Nairobi</h5>
                    <p>The name “Nairobi”  is derived from the Maasai phrase Enkare Nyirobi, which translates to “the place of cool waters”.</p>
                    <p>Founded in 1899 as a simple rail depot on the railway linking Mombasa to Uganda, the town quickly grew to become the capital
                        of British East Africa in 1907 and eventually the capital of a free Kenyan republic in 1963.</p>
                    <p>During Kenya’s colonial period, the city became a center for the colony’s coffee, tea and sisal industry.</p>
                    <p>Nairobi is also the capital of the Nairobi County.</p>
                    <p>The city lies on the Nairobi River, in the south of the nation, and has an elevation of 1795 m above sea-level.</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <img src="{% static 'images/geography.png' %}">
                    <hr>
                    <h5>Geography</h5>
                    <p>Nairobi is popularly known as the “Green City in the Sun” due to its proximity to the equator, ample rainfall and year round sunshine.</p>
                    <p>Nairobi is a city of extremes hosting  the most modern suburbs and the largest slums in Africa.</p>
                    <p>The city is located at 1°17’S 36°49’E? / ?1.283°S 36.817°E? / -1.283; 36.817 and occupies 684 square Kilometers</p>
                    <p>Nairobi is situated between the cities of Kampala and Mombasa.</p>
                    <p>The Ngong hills, located to the west of the city, are the most prominent geographical feature of the Nairobi Area.</p>
                    <p>Mount Kenya is situated north of Nairobi and Mount Kilimanjaro is towards the south-east.</p>
                    <p>Both mount Kenya and Mount Kilimanjaro  are visible from Nairobi on a clear day.</p>

                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <img src="{% static 'images/population.png' %}">
                    <hr>
                    <h5>Population</h5>
                    <p>Nairobi is the most populous city in East Africa, with a current estimated population of about 3 million.</p>
                    <p>According to the 1999 Census, in the administrative area of Nairobi, 2,143,254 inhabitants lived within 696 km2 (269 sq mi).</p>
                    <p>Nairobi is currently the 13th largest city in Africa, based on population and fourth largest in infrastructure development and its size.</p>
                    <p>Nairobi is now one of the most prominent cities in Africa politically and financially.</p>
                    <p>Home to many companies and organizations, including the United Nations Environment Program
                        and the UN Office in Africa, Nairobi is established as a hub for business and culture.</p>
                    <p>The Nairobi Stock Exchange (NSE) is one of the largest in Africa, ranked fourth in terms of
                        trading volume and capable of making 10 million trades a day.</p>
                    <p>The Globalization and World Cities Study Group and Network (GaWC) defines Nairobi as a prominent social centre</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <img src="{% static 'images/climate.png' %}">
                    <hr>
                    <h5>Climate</h5>
                    <p>At 1,795 Metres (5,889 ft) above sea level, Nairobi enjoys a moderate climate.</p>
                    <p>Under the Koppen climate classification, Nairobi has a Subtropical Highland climate.</p>
                    <p>The altitude makes for some chilly evenings, especially in the June/July season when the temperature can drop to 10 °C (50 °F).</p>
                    <p>The sunniest and warmest part of the year are from December to March, when temperatures average the mid-twenties during the day.
                        The mean maximum temperature for this period is 24 °C (75 °F).There are two rainy seasons but rainfall can be moderate.</p>
                    <p>The cloudiest part of the year is just after the first rainy season, when, until September, conditions are usually overcast with drizzle.</p>
                    <p>As Nairobi is situated close to the equator, the differences between the seasons are minimal.</p>
                    <p>The seasons are referred to as the wet season and dry season.</p>
                    <p>The timing of sunrise and sunset varies little throughout the year, due to Nairobi’s proximity to the equator.</p>
                    <p>Start Your Safari Adventure in Nairobi</p>
                </div>
            </div>
        </div>
        <br>
    </div>



</body>
</html>>